@page "/find-your-loot"
@using DbContextSharLab;
@using Microsoft.EntityFrameworkCore;

@using Microsoft.JSInterop;

@using Blazorise;
@using Blazorise.Bootstrap;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Components;
@using YummyDrop_online_store.Services.CartService;
@using YummyDrop_online_store.Services.RandomizeService;
@using YummyDrop_online_store.Services.GeneratorService;
@using YummyDrop_online_store.Data;
@using YummySharedLibrary;
@using YummyDrop_online_store.Services.BalanceService;
@using YummyDrop_online_store.Services.BonusService;

@inject IRandomizeService randomizer;
@inject IGeneratorService generator;
@inject ApplicationDbContext context;
@inject ICartService _cart;
@inject IBalanceService _balance;
@inject IBonusService _bonus;

<html>
<head>
    <link rel="stylesheet" href="css/find_loot.css">
    <link rel="stylesheet" href="css/yummy_item_container.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-MJ8iW6Uplv5a5UpwlUyE/C8ZZlWck9v6yaMC2omlZ/W6zg2CxrOv90q3qMx68xLP8f0rXpABOQuEjgLZshF+2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-/XnAy+1mQKmZM+mzgHlLypvHbOi2fJhHXVgqcAEuHT3+m3W7VzfuFNc9XnVcRklRlnMIM8FpQiJiGx7fI3aWzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div>
        <h1>Randomize an item from the loot box!</h1>

        <div style="display: flex; flex-direction: column; width: 200px;">
            <label>Buy case</label>
            <button @onclick="onGetRandomYummyItem" style="border-radius: 30px; margin-bottom: 5px; background-color: green; color: white;">$15</button>
            <button @onclick="onPayBonuses" class="btn btn-primary" style="border-radius: 30px; margin-bottom: 5px;">
                <span style="margin-right: 5px;"><i class="fas fa-gift"></i></span>Pay with bonuses
            </button>
            <label>*required 100</label>

        </div>

        <button @onclick="onGetUntilLemonWillNotBeDropped" style="border-radius: 10px;">Randomize Until Get My Lemon!</button>

        <button @onclick="onGetThousands" style="border-radius: 10px;">Randomize 1000 times!</button>

        @if (!BonusIsOK)
        {
            <label style="font-size: 22px; font-weight: bold; color: #ff0000; text-shadow: 2px 2px 2px #000000;">Not enough bonuses!</label>
        }
        
        @if (BalanceIsOK)
        {
            @if (yummyItem != null || randIds.Count != 0)
            {
                <div style="margin-bottom: 10px;">
                    <label>You tried: @tries time(s)</label>
                </div>

                <Blazorise.Modal @bind-Visible="showModal" ModalSize="Blazorise.ModalSize.Small" OnClosing="HandleClosing" PreventClosing="true" @ref="modalRef">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <ModalHeader>
                                <h3>
                                    @if (randIds.Count != 0 && multiCast > 1)
                                    {
                                        <text>Congrats! You won @multiCast items! Total sum: $@(randIds.Sum(i => i.Cost))</text>

                                    }
                                    else
                                    {
                                        <text>Congrats! Your win is $@(yummyItem.Cost)</text>
                                    }
                                </h3>
                            </ModalHeader>
                            <ModalBody>
                                <p class="text-justify" style="word-wrap: break-word;">
                                    Press "Take" to add item(s) into your cart
                                </p>
                                <p class="text-justify" style="word-wrap: break-word;">
                                    or
                                </p>
                                <p class="text-justify" style="word-wrap: break-word;">
                                    Press "Deny" to sell it out and obtain some money.
                                </p>
                            </ModalBody>
                            <ModalFooter>
                                <button class="btn btn-success" @onclick="onAcceptItem">Take</button>
                                <button class="btn btn-danger" @onclick="onSellItem">Sell</button>
                            </ModalFooter>
                        </div>
                    </div>
                </Blazorise.Modal>


                @if (@multiCast < 2)
                {
                    <_FindYourLoot yummyItem="@yummyItem" />
                }
                else
                {
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <label style="font-size: 18px; font-weight: bold; color: #ff0000; text-shadow: 2px 2px 2px #000000;">WOW!!! YOU OBTAINED 1 + @(multiCast - 1) = @multiCast items more</label>
                        <div style="display: flex; justify-content: center;">
                            @foreach (var item in randIds)
                            {
                                <div style="margin-right: 10px;">
                                    <_FindYourLoot yummyItem="@item" />
                                </div>
                            }
                        </div>
                    </div>


                }


                <div style="margin-top: 15px;">
                    <label>Your statistic is</label>
                    <table>
                        <thead>
                            <tr>
                                <th style="padding: 0 75px;">Yummy Name</th>
                                <th style="padding: 0 75px;">Drop Quantity</th>
                                <th style="padding: 0 75px;">Theoretical Drop Chance</th>
                                <th style="padding: 0 75px;">Actual Drop Chance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in statistics)
                            {
                                <tr>
                                    <td style="padding: 0 75px;">@item.Key</td>
                                    <td style="padding: 0 75px;">@item.Value</td>
                                    <td style="padding: 0 75px;">@(LootList.FirstOrDefault(x => x.Name == item.Key)?.DropChance.ToString("F2"))%</td>
                                    <td style="padding: 0 75px;">@(((double)item.Value / tries * 100).ToString("F2"))%</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div style="margin-top: 15px;">
                    <label>Multicatsting statistic:</label>
                    <table>
                        <thead>
                            <tr>
                                <th style="padding: 0 75px;"></th>
                                @foreach (var ch in MultiChance)
                                {
                                    <th style="padding: 0 75px;">Multicast @ch.Key</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 0 75px;">Quantity</td>
                                @foreach (var q in MultiStatistics)
                                {
                                    <th style="padding: 0 75px;">@q.Value</th>
                                }
                            </tr>
                            <tr>
                                <td style="padding: 0 75px;">Theor chance</td>
                                @foreach (var ch in MultiChance)
                                {
                                    <td style="padding: 0 75px;">@ch.Value%</td>
                                }
                            </tr>
                            <tr>
                                <td style="padding: 0 75px;">Fact chance</td>
                                @foreach (var q in MultiStatistics)
                                {
                                    <th style="padding: 0 75px;">@(((double)q.Value / MultiStatistics.Sum(x => x.Value) * 100).ToString("F2"))%</th>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div>
                    <h3>Not randomized yet!</h3>
                </div>
            }

        }
        else
        {
            <label style="font-size: 22px; font-weight: bold; color: #ff0000; text-shadow: 2px 2px 2px #000000;">Invalid balance!</label>
        }

      
    </div>


</body>
</html>




@code {


    Blazorise.Modal modalRef;

    private void HandleClosing(Blazorise.ModalClosingEventArgs e)
    {
        Console.WriteLine("HandleClosing method called");
        e.Cancel = true;
    }


    private int _caseBonusCost = 100;
    public int CaseBonusCost => _caseBonusCost;

    private bool BonusIsOK = true;
    public bool showModal = false;
    private int tries = 0;
    private YummyItem yummyItem;
    private List<YummyItem> LootList;
    private Dictionary<string, int> statistics = new Dictionary<string, int>();

    private static YummyItem _currentYummyItem;


    private Dictionary<int, double> MultiChance = new Dictionary<int, double>();

    private Dictionary<int, int> MultiStatistics = new Dictionary<int, int>();

    protected override async Task OnInitializedAsync()
    {
        BalanceIsOK = (_balance.Balance >= _caseCost) ? true : false;
        var boxes = await context.FruitBoxTable.Include(box => box.BoxContent1).ToListAsync();
        var box1 = boxes[0];
        var boxcont = box1.BoxContent1;
        LootList = boxcont;

        foreach (var item in LootList)
        {
            statistics[item.Name] = 0;
        }

        //percentage
        MultiChance[1] = 85.37;
        MultiChance[2] = 11.59;
        MultiChance[3] = 2.04;
        MultiChance[4] = 1;

        foreach (var m in MultiChance)
        {
            MultiStatistics[m.Key] = 0;
        }

    }

    private void ShowModal() => showModal = true;
    private void HideModal() => showModal = false;

    private int multiCast = 0;
    /// <summary>
    /// Generates a random index from the LootList
    /// </summary>
    /// <returns>Random index</returns>
    /// <exception cref="Can throw an exception if LootList is null or empty"></exception>
    private int generateRandomIdByLootList()
    {
        if (LootList == null) throw new Exception("LootList is null");
        if (LootList.Count == 0) throw new Exception("LootList is empty");
        var Ids = generator.GenerateMillionIds(LootList);
        int randId = randomizer.GetRandomId(Ids);
        return randId;
    }

    private bool BalanceIsOK = false;
    private readonly int _caseCost = 15;

    private async Task onGetRandomYummyItem()
    {
        randIds.Clear();
        BalanceIsOK = (_balance.Balance >= _caseCost) ? true : false;
        if (!BalanceIsOK) return;
        _balance.RemoveFromBalance(_caseCost);
        var multis = generator.GenerateMillionMulticast(MultiChance);
        multiCast = randomizer.GetRandomId(multis);
        MultiStatistics[multiCast]++;
        if (multiCast > 1)
        {
            //if multicasting happend
            await onMuticastingHappend();            
            return;
        }
        else
        {
            int randId = generateRandomIdByLootList();
            yummyItem = LootList.Find(x => x.Id == randId);
            _currentYummyItem = yummyItem;
            tries++;
            statistics[yummyItem.Name]++;           
        }
        _bonus.AddBonuses(_caseBonusCashBack);
        ShowModal();
    }

    private readonly int _caseBonusCashBack = 10;

    private List<YummyItem> randIds = new List<YummyItem>();



    private async Task onMuticastingHappend()
    {
        for (int m = 0; m < multiCast; m++)
        {
            int randId = generateRandomIdByLootList();
            var yummyItem = LootList.Find(x => x.Id == randId);
            randIds.Add(yummyItem);
            tries++;
            statistics[yummyItem.Name]++;
        }
        randIds = randIds.OrderByDescending(c => c.Cost).ToList();
        await PlaySound();
        //Array.Sort(randIds.ToArray(), (x, y) => y.Cost.CompareTo(x.Cost));       
    }


    public async Task onPayBonuses()
    {
        BonusIsOK = (_bonus.Bonus >= _caseBonusCost) ? true : false;
        if(!BonusIsOK) return;
        var totals = _caseBonusCost + _caseBonusCashBack;
        _bonus.RemoveBonuses(totals);
        await onGetRandomYummyItem();
    }






    private async Task onGetUntilLemonWillNotBeDropped()
    {
        tries = 0;
        ResetDictionary();
        string LowestChanceDrop = LootList.OrderBy(x => x.DropChance).First().Name;
        while (statistics[LowestChanceDrop] == 0)
        {
            var Ids = generator.GenerateMillionIds(LootList);
            int randId = randomizer.GetRandomId(Ids);
            yummyItem = LootList.Find(x => x.Id == randId);
            tries++;
            statistics[yummyItem.Name]++;

            await Task.Delay(100);
            StateHasChanged();
        }
    }

    private async Task onGetThousands()
    {
        tries = 0;
        ResetDictionary();
        for (int i = 0; i < 1000; i++)
        {
            await onGetRandomYummyItem();
            //var Ids = generator.GenerateMillionIds(LootList);
            //int randId = randomizer.GetRandomId(Ids);
            //yummyItem = LootList.Find(x => x.Id == randId);
            //tries++;
            //statistics[yummyItem.Name]++;


            await Task.Delay(100);
            StateHasChanged();
        }
    }

    private void ResetDictionary()
    {
        foreach (var item in LootList)
        {
            statistics[item.Name] = 0;
        }

        foreach (var m in MultiChance)
        {
            MultiStatistics[m.Key] = 0;
        }
    }


    private void onAcceptItem()
    {
        HideModal();
        if (randIds.Count != 0 && multiCast > 1)
        {
            randIds.ForEach(i => _cart.addToCart(i));
        }
        else
        {
            if (_currentYummyItem != null)
            {
                _cart.addToCart(_currentYummyItem);
            }
        }
    }

    private void onSellItem()
    {
        HideModal();
        if (randIds.Count != 0 && multiCast > 1)
        {
            var sum = randIds.Sum(i => i.Cost);
            _balance.AddToBalance(sum);
        }
        else
        {
            _balance.AddToBalance(_currentYummyItem.Cost);
        }
    }


    [Inject] IJSRuntime JSRuntime { get; set; }

    private async Task PlaySound()
    {
        await JSRuntime.InvokeVoidAsync("playSound");
    }
}
